# CODEOWNERS file for falcon-scripts repository
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @CrowdStrike/falcon-scripts-cs-maintainers
