[Unit]
Description=Docker falcon.service
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/systemd/system/falcon.conf
TimeoutStartSec=0
Restart=always
ExecStartPre=/usr/bin/docker run --rm \
        --privileged \
        --pid=host \
        --net=host \
        --ipc=host \
        --entrypoint /opt/CrowdStrike/falcon-daemonset-init \
        ${FALCON_CONTAINER_IMAGE} -i
ExecStart=/usr/bin/docker run --rm --name falcon \
        --privileged \
        --pid=host \
        --net=host \
        --ipc=host \
        --userns=host \
        -e FALCONCTL_OPT_BACKEND=${FALCON_BACKEND} \
        -e FALCONCTL_OPT_CID=${FALCON_CID} \
        -e FALCONCTL_OPT_TAGS=${FALCON_TAGS} \
        -v /opt/CrowdStrike/falconstore:/opt/CrowdStrike/falconstore \
        ${FALCON_CONTAINER_IMAGE}
ExecStop=/usr/bin/docker stop falcon

[Install]
WantedBy=default.target
