name: "Integration Tests: Linux"
on:
  schedule:
    - cron: '0 6 * * *'

  push:
    paths:
      - 'molecule/bash**'
      - 'bash/install/**'
      - '.github/workflows/ci-linux.yml'

  pull_request_target:
    types: [ labeled ]
    paths:
      - 'molecule/bash**'
      - 'bash/install/**'
      - '.github/workflows/ci-linux.yml'

jobs:
  molecule:
    if: |
      github.event_name == 'push' ||
      github.event_name == 'schedule' ||
      (github.event_name == 'pull_request_target' &&
      github.event.label.name == 'ok-to-test')
    runs-on: ubuntu-20.04
    env:
      PY_COLORS: 1
      ANSIBLE_FORCE_COLOR: 1
      FALCON_CLIENT_ID: ${{ secrets.FALCON_CLIENT_ID }}
      FALCON_CLIENT_SECRET: ${{ secrets.FALCON_CLIENT_SECRET }}
      ALLOW_LEGACY_CURL: 'true'
    strategy:
      fail-fast: false
      matrix:
        molecule_distro:
          - { "distro":"centos7" }
          - { "distro":"rockylinux8" }
          - { "distro":"rockylinux9" }
          - { "distro":"ubuntu2004" }
        scenario:
          - bash_install
          - bash_install_decrement
          - bash_install_only
          - bash_install_policy
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        if: github.event_name != 'pull_request_target'

      - name: Check out code
        uses: actions/checkout@v3
        with:
          ref: ${{github.event.pull_request.head.sha}}
        if: github.event_name == 'pull_request_target'

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
          cache: 'pip'
          cache-dependency-path: '.github/workflows/ci-linux.yml'

      - name: Install dependencies
        run: |
          sudo apt install apt-transport-https ca-certificates curl software-properties-common libssl-dev
          python -m pip install --upgrade pip
          pip install molecule "molecule-plugins[docker]" ansible ansible-core ansible-lint

      - name: Run integration tests
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 6
          max_attempts: 3
          retry_on: error
          command: >-
            molecule --version &&
            ansible --version &&
            MOLECULE_DISTRO=${{ matrix.molecule_distro.distro }}
            molecule test -s ${{ matrix.scenario }}
