name: PSScriptAnalyzer

on:
  push:
    paths:
      - 'powershell/**'
      - '.github/workflows/psscriptanalyzer.yml'

  pull_request:
    paths:
      - 'powershell/**'
      - '.github/workflows/psscriptanalyzer.yml'

jobs:
  powershell:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Run PSScriptAnalyzer
        uses: microsoft/psscriptanalyzer-action@main
        with:
          path: .\powershell
          recurse: true
          excludeRule: '"PSUseShouldProcessForStateChangingFunctions"'
          output: 'results.sarif'
      - name: Upload SARIF results file
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: results.sarif
